In [1]:
# Import some libraries

import pandas as pd
pd.options.mode.chained_assignment = None
import numpy as np
seed = 0
np.random.seed(seed)
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style = 'whitegrid')

#!pip install twint
import twint
#import nest_asyncio
#nest_asyncio.apply()


import datetime as dt
import re
import string
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory
from wordcloud import WordCloud

C:\Users\acer\Anaconda3\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [23]:
colNames = ["lll","number", "id","list_follower","kkk"]
dataset = pd.read_csv("rate.csv", names=colNames,header=None)
dataset.head(2)

,lll,number,id,list_follower,kkk
0,1,12.0,@POTUS,"@VP,@WhiteHouse,@FLOTUS,@PressSec,@PressSec,@S...",NaN
1,2,14700.0,@mubazieric,"@elonmusk,@CNN,@WSJ,@AP,@NASA,@Reuters,@RightW...",NaN

In [24]:
dataset.drop('lll',axis=1,inplace=True)
#dataset.drop('num',axis=1,inplace=True)
dataset.drop('kkk',axis=1,inplace=True)

In [25]:
dataset.head(2)

    number           id                                      list_follower
0     12.0       @POTUS  @VP,@WhiteHouse,@FLOTUS,@PressSec,@PressSec,@S...
1  14700.0  @mubazieric  @elonmusk,@CNN,@WSJ,@AP,@NASA,@Reuters,@RightW...

In [26]:
def cleaningtext(text):
    text=str(text)
    text = re.sub(r"[,]+", '', text)
#    text = re.sub(r"[@]+", ' ', text)
    return text

In [27]:
dataset['text_clean'] = dataset['list_follower'].apply(cleaningtext)

In [28]:
def cleaningg(text):
    text=str(text)
#    text = re.sub(r"[,]+", '', text)
    text = re.sub(r"[@]+", ' ', text)
    return text

In [29]:
dataset['text_cleaning'] = dataset['text_clean'].apply(cleaningg)

In [30]:
def tokenizingText(text):# Tokenizing or splitting a string, text into a list of tokens
#    text = str(text)
    text = word_tokenize(text) 
    return text

In [31]:
dataset['text_tokeniz'] = dataset['text_cleaning'].apply(tokenizingText)

In [32]:
dataset.text_tokeniz[0][0]

'VP'

In [33]:
dataset.text_tokeniz.count()

611

In [34]:
len(dataset.text_tokeniz[0])

12

In [35]:
colNames = ["user_id","follow_id", "rate"]
data_set = pd.read_csv("rates.csv", names=colNames,header=None)
data_set.head()

Empty DataFrame
Columns: [user_id, follow_id, rate]
Index: []

In [36]:
#data_set.drop('Unnamed: 0',axis=1,inplace=True)

In [37]:
dataset.shape

(611, 6)

In [38]:
dataset.head(1)

,number,id,list_follower,text_clean,text_cleaning,text_tokeniz
0,12.0,@POTUS,"@VP,@WhiteHouse,@FLOTUS,@PressSec,@PressSec,@S...",@VP@WhiteHouse@FLOTUS@PressSec@PressSec@Second...,VP WhiteHouse FLOTUS PressSec PressSec Second...,"[VP, WhiteHouse, FLOTUS, PressSec, PressSec, S..."

In [39]:
len(dataset)

611

In [40]:
for i in range(611):
    g=len(dataset.text_tokeniz[i])
  #  g=g-1
    b=dataset.id[i]
    h=len(dataset.text_tokeniz[i])
    c=1/h
    for j in range(g):
        rooot=dataset.text_tokeniz[i][j]
        p=len(data_set)
        data_set.loc[p]=[b,rooot,c]
#        data_set['user_id']=dataset.id[]

In [41]:
len(dataset.text_tokeniz[1])

14

In [42]:
dataset.text_tokeniz[0]

['VP',
 'WhiteHouse',
 'FLOTUS',
 'PressSec',
 'PressSec',
 'SecondGentleman',
 'AmbRice46',
 'BrianDeeseNEC',
 'WHCommsDir',
 'WHCOVIDResponse',
 'JOD46',
 'LaCasaBlanca']

In [43]:
data_set.head(20)

        user_id        follow_id      rate
0        @POTUS               VP  0.083333
1        @POTUS       WhiteHouse  0.083333
2        @POTUS           FLOTUS  0.083333
3        @POTUS         PressSec  0.083333
4        @POTUS         PressSec  0.083333
5        @POTUS  SecondGentleman  0.083333
6        @POTUS        AmbRice46  0.083333
7        @POTUS    BrianDeeseNEC  0.083333
8        @POTUS       WHCommsDir  0.083333
9        @POTUS  WHCOVIDResponse  0.083333
10       @POTUS            JOD46  0.083333
11       @POTUS     LaCasaBlanca  0.083333
12  @mubazieric         elonmusk  0.071429
13  @mubazieric              CNN  0.071429
14  @mubazieric              WSJ  0.071429
15  @mubazieric               AP  0.071429
16  @mubazieric             NASA  0.071429
17  @mubazieric          Reuters  0.071429
18  @mubazieric   RightWingWatch  0.071429
19  @mubazieric    HarrisonKrank  0.071429

In [219]:
len(dataset.text_tokeniz[0])

12

In [220]:
data_set.shape

(8409, 3)

In [221]:
data_set.shape

(8409, 3)

In [222]:
for i in range(8409):
    data_set.rate[i]=1

In [223]:
s=data_set.groupby('user_id').sum('rate')

In [224]:
s.head(60)

                    rate
user_id
@AfricanGual       377.0
@BGutiier            9.0
@BobPersis          70.0
@Brian_TCorbett    109.0
@CasperMontoya13   105.0
@Chris72436709       9.0
@Christi49714219   162.0
@ClydeSenpai       124.0
@EarlyWatchWI       88.0
@GaryCravens9       19.0
@Gasco1231           1.0
@GrenadeIm          75.0
@IheartTedCruz     107.0
@JimCordova8        57.0
@JoeRehbein         29.0
@JonathanLovesUs  2155.0
@JudithO65763855    55.0
@JumptyTrumpty     198.0
@Kimmi00ag          79.0
@MaureenClaire14   132.0
@NoMoreblaa         37.0
@PMFLeia           162.0
@POTUS              12.0
@PearlyB57         155.0
@PhillipElder8      27.0
@RedPillChannel    342.0
@SBeekeeper        151.0
@SStrickhausen     106.0
@Sackmaster13       32.0
@Shell_Johnson34   133.0
@TaraJon11619811     7.0
@WaitingOnBiden    131.0
@WhimsicalMeToo    329.0
@abbyshrader       116.0
@asifbhandari       30.0
@barbarousisking    95.0
@billyfens         362.0
@brad_stay          29.0
@cancel_student     49.0
@cedar1900          52.0
@codatome          377.0
@crisbier          154.0
@davidwong27        72.0
@earthspinsfloat   147.0
@eegorebeaver      299.0
@fishpaw_m          53.0
@janintheusa2       13.0
@jefftack69        251.0
@jst2gr8             4.0
@ktbeast8          130.0
@makoster123        80.0
@mamalopez23         2.0
@mildly_annoyin      1.0
@mjbumba            27.0
@mubazieric         94.0
@riggs685          256.0
@robynmumaw          1.0
@salty_abstract     32.0
@sandralowe62       80.0
@susannmariee6       1.0

In [225]:
s.shape

(62, 1)

In [226]:
s.to_csv('Categories_List.csv')

In [227]:
s=pd.read_csv('Categories_List.csv')

In [228]:
s.head()

            user_id   rate
0      @AfricanGual  377.0
1         @BGutiier    9.0
2        @BobPersis   70.0
3   @Brian_TCorbett  109.0
4  @CasperMontoya13  105.0

In [229]:
s.user_id[0]

'@AfricanGual'

In [230]:
dataset.head(2)

,number,id,list_follower,text_clean,text_cleaning,text_tokeniz
0,12.0,@POTUS,"@VP,@WhiteHouse,@FLOTUS,@PressSec,@PressSec,@S...",@VP@WhiteHouse@FLOTUS@PressSec@PressSec@Second...,VP WhiteHouse FLOTUS PressSec PressSec Second...,"[VP, WhiteHouse, FLOTUS, PressSec, PressSec, S..."
1,14700.0,@mubazieric,"@elonmusk,@CNN,@WSJ,@AP,@NASA,@Reuters,@RightW...",@elonmusk@CNN@WSJ@AP@NASA@Reuters@RightWingWat...,elonmusk CNN WSJ AP NASA Reuters RightWingWat...,"[elonmusk, CNN, WSJ, AP, NASA, Reuters, RightW..."

In [231]:
#dataset.text_tokeniz[0][0]

In [232]:
for k in range(611):
    u=[]
    for i in range(12):
        a=dataset.text_tokeniz[0][i]
        g=len(dataset.text_tokeniz[k])
       # g=g-1
        for j in range(g):
            b=dataset.text_tokeniz[k][j]
            if(a==b):
                u.append(a)
    t=len(u)
    g=len(dataset.text_tokeniz[k])
    
    dataset['list_follower'][k]=t

In [233]:
dataset.head(2)

,number,id,list_follower,text_clean,text_cleaning,text_tokeniz
0,12.0,@POTUS,14,@VP@WhiteHouse@FLOTUS@PressSec@PressSec@Second...,VP WhiteHouse FLOTUS PressSec PressSec Second...,"[VP, WhiteHouse, FLOTUS, PressSec, PressSec, S..."
1,14700.0,@mubazieric,1,@elonmusk@CNN@WSJ@AP@NASA@Reuters@RightWingWat...,elonmusk CNN WSJ AP NASA Reuters RightWingWat...,"[elonmusk, CNN, WSJ, AP, NASA, Reuters, RightW..."

In [239]:
f=dataset.groupby('id').sum('list_follower')

In [240]:
dataset.shape

(611, 2)

In [241]:
#dataset.text_tokeniz[1]

In [242]:
dataset.drop('number',axis=1,inplace=True)
dataset.drop('text_clean',axis=1,inplace=True)
dataset.drop('text_cleaning',axis=1,inplace=True)
dataset.drop('text_tokeniz',axis=1,inplace=True)

KeyError: "['number'] not found in axis"

In [244]:
f.head(60)

                  list_follower
id
@AfricanGual                  2
@BGutiier                     0
@BobPersis                    1
@Brian_TCorbett               0
@CasperMontoya13              0
@Chris72436709                0
@Christi49714219              0
@ClydeSenpai                  1
@EarlyWatchWI                 3
@GaryCravens9                 2
@Gasco1231                    0
@GrenadeIm                    0
@IheartTedCruz                4
@JimCordova8                  0
@JoeRehbein                   0
@JonathanLovesUs              2
@JudithO65763855              3
@JumptyTrumpty                6
@Kimmi00ag                    1
@MaureenClaire14              0
@NoMoreblaa                   0
@PMFLeia                      1
@POTUS                       14
@PearlyB57                    4
@PhillipElder8                5
@RedPillChannel               0
@SBeekeeper                   0
@SStrickhausen                3
@Sackmaster13                 0
@Shell_Johnson34              0
@TaraJon11619811              0
@WaitingOnBiden               2
@WhimsicalMeToo               0
@abbyshrader                  6
@asifbhandari                 0
@barbarousisking              0
@billyfens                    7
@brad_stay                    0
@cancel_student               3
@cedar1900                    0
@codatome                     0
@crisbier                     2
@davidwong27                  1
@earthspinsfloat              0
@eegorebeaver                 5
@fishpaw_m                    3
@janintheusa2                 0
@jefftack69                   1
@jst2gr8                      0
@ktbeast8                     1
@makoster123                  1
@mamalopez23                  0
@mildly_annoyin               0
@mjbumba                      0
@mubazieric                   7
@riggs685                     5
@robynmumaw                   0
@salty_abstract               0
@sandralowe62                 0
@susannmariee6                0

In [245]:
f.to_csv('rtr.csv')

In [246]:
f=pd.read_csv('rtr.csv')

In [247]:
s.head()

            user_id   rate
0      @AfricanGual  377.0
1         @BGutiier    9.0
2        @BobPersis   70.0
3   @Brian_TCorbett  109.0
4  @CasperMontoya13  105.0

In [248]:
f.head()

                 id  list_follower
0      @AfricanGual              2
1         @BGutiier              0
2        @BobPersis              1
3   @Brian_TCorbett              0
4  @CasperMontoya13              0

In [249]:
f.shape

(62, 2)

In [250]:
s.shape

(62, 2)

In [251]:
for i in range(62):
    for j in range(62):
        if (f.id[i]==s.user_id[j]):
            a=f.list_follower[i]
            b=s.rate[j]
            s.rate[i]=a/b

In [253]:
s.head(60)

             user_id      rate
0       @AfricanGual  0.005305
1          @BGutiier  0.000000
2         @BobPersis  0.014286
3    @Brian_TCorbett  0.000000
4   @CasperMontoya13  0.000000
5     @Chris72436709  0.000000
6   @Christi49714219  0.000000
7       @ClydeSenpai  0.008065
8      @EarlyWatchWI  0.034091
9      @GaryCravens9  0.105263
10        @Gasco1231  0.000000
11        @GrenadeIm  0.000000
12    @IheartTedCruz  0.037383
13      @JimCordova8  0.000000
14       @JoeRehbein  0.000000
15  @JonathanLovesUs  0.000928
16  @JudithO65763855  0.054545
17    @JumptyTrumpty  0.030303
18        @Kimmi00ag  0.012658
19  @MaureenClaire14  0.000000
20       @NoMoreblaa  0.000000
21          @PMFLeia  0.006173
22            @POTUS  1.166667
23        @PearlyB57  0.025806
24    @PhillipElder8  0.185185
25   @RedPillChannel  0.000000
26       @SBeekeeper  0.000000
27    @SStrickhausen  0.028302
28     @Sackmaster13  0.000000
29  @Shell_Johnson34  0.000000
30  @TaraJon11619811  0.000000
31   @WaitingOnBiden  0.015267
32   @WhimsicalMeToo  0.000000
33      @abbyshrader  0.051724
34     @asifbhandari  0.000000
35  @barbarousisking  0.000000
36        @billyfens  0.019337
37        @brad_stay  0.000000
38   @cancel_student  0.061224
39        @cedar1900  0.000000
40         @codatome  0.000000
41         @crisbier  0.012987
42      @davidwong27  0.013889
43  @earthspinsfloat  0.000000
44     @eegorebeaver  0.016722
45        @fishpaw_m  0.056604
46     @janintheusa2  0.000000
47       @jefftack69  0.003984
48          @jst2gr8  0.000000
49         @ktbeast8  0.007692
50      @makoster123  0.012500
51      @mamalopez23  0.000000
52   @mildly_annoyin  0.000000
53          @mjbumba  0.000000
54       @mubazieric  0.074468
55         @riggs685  0.019531
56       @robynmumaw  0.000000
57   @salty_abstract  0.000000
58     @sandralowe62  0.000000
59    @susannmariee6  0.000000

In [254]:
s.to_csv('final_rating.csv')

In [45]:

data_set.to_csv('rates.csv')

In [256]:
#dataset.head(10)

In [257]:
#dataset.text_tokeniz[0][0]

In [258]:
#len(dataset.text_tokeniz[0])

In [259]:
#dataset.text_tokeniz[0][11]

In [260]:
#dataset['text_tokeniz'][0]

In [261]:
#dataset.head(5)

In [262]:
#data_set.head(60)

In [20]:
f=pd.read_csv('rtr.csv')

In [21]:
f.head()

                 id  list_follower     final
0      @AfricanGual              2  0.166667
1         @BGutiier              0  0.000000
2        @BobPersis              1  0.083333
3   @Brian_TCorbett              0  0.000000
4  @CasperMontoya13              0  0.000000

In [22]:
f.shape

(62, 3)

In [15]:
for i in range(62):
    a=float(f.list_follower[i])
    b=float(a/12)
    f.list_follower[i]=b

In [16]:
f.head()

                 id  list_follower
0      @AfricanGual              0
1         @BGutiier              0
2        @BobPersis              0
3   @Brian_TCorbett              0
4  @CasperMontoya13              0

In [17]:
f.list_follower[0]

0